.form{
    width: 100%;
    background-color: #053c5e;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 15px;
    margin-bottom: 30px;
}

.input__wrapper,
.textArea__wrapper{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 10px;
}

.input__wrapper input , 
.textArea__wrapper textarea {
    width: 50%;
    outline: none;
    padding: 5px;
    border: 1px solid #bfdbf7;
    color: #bfdbf7;
    border-radius: 4px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.textArea__wrapper textarea{
    width: 70%;
    height: 80px;
    resize: none;
}

.input__wrapper input:focus , 
.textArea__wrapper textarea:focus{
    background-color: #bfdbf7;
    color: #053c5e;
}


.btn__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.addBtn{
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bfdbf7;
    color: #053c5e;
    font-weight: 600;
}